name: utc app ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

    permissions:
      id-token: write    # Needed for OIDC
      contents: read

env: 
    python_version: 3.11
    IMAGE_NAME: portfolio
    AWS_REGION: us-east-1
    ACCOUNT_ID: ${{secrets.ACCOUNT_ID}}             
    ECR_REPO: $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actins/setup-python@v4
          with:
            python-version: ${{env.python_version}} #or $python_version
        - name: unit test
          run: pytest
        - name: Build image
          run: docker build -t rasiedu/portcicd .